.calendarHeader h4 {
    float: left;
    line-height: 1;
    float: left;
    font-size: 231%;
    color: #79d0db;
    font-weight: bold
}

.calendarHeader span {
    margin: 4px 0 0 6px;
    float: left;
    font-size: 139%;
    vertical-align: baseline
}

.calendarHeader ul {
    float: right
}

.calendarHeader ul li {
    float: left;
    display: inline-block;
    letter-spacing: normal;
    text-align: center;
    margin-left: 3px;
    width: 32px;
    height: 32px;
    background: #eaebe8;
    line-height: 32px;
    font-size: 108%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    vertical-align: middle
}

.calendarHeader ul li a {
    color: #888
}

.calandarColorArea {
    color: #9d9d9d
}

.calandarColorArea li {
    width: 150px;
    float: left
}

.calandarColorArea li div {
    width: 15px;
    height: 10px;
    padding: 8px;
    margin-top: 1px;
    background-color: #fff;
    float: left
}

.calandarColorArea .newyear div {
    background-color: #d6d7d4;
    border: 2px solid #ffa8a8
}

.calandarColorArea .disable div {
    background-color: #eaebe8;
    border: 1px solid #eaebe8
}

.calandarColorArea .able div {
    border: 1px solid #eaebe8;
    background-color: #888
}

.monthlyTable {
    width: 100%
}

.monthlyTable th {
    font-weight: normal;
    color: #bab9b3;
    font-size: 108%;
    padding-bottom: 4px;
    text-align: center
}

.monthlyTable td {
    color: #bab9b3;
    font-size: 108%;
    margin-bottom: 4px
}

.monthlyTable td a {
    position: relative;
    background: #eaebe8;
    display: block;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align: center;
    border: 1px solid #eaebe8;
    margin-right: 2px;
    color: #888;
    padding: 10px;
    font-weight: 800;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none
}

.monthlyTable td a:hover {
    border: 1px solid #888
}

.monthlyTable .disabled {
    color: #d6d7d4;
    background-color: #eaebe8;
    font-weight: 200
}

.monthlyTable td .selectedDate {
    background-color: #79d0db
}

.monthlyTable .newYearDate {
    border: 1px solid #ffa8a8
}

.monthlyTable .newYearDate .disabled {
    color: #f0f0ea
}

.newYearColor {
    color: #ff5151;
    opacity: .6
}